h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    

}

body{
    border: 2px solid black;
    border-radius: 12px;
    margin: 0px;
    background-color: white;

}
.designer{
    text-align: center;
}

.big_div {
    display: flex;
    justify-content: space-around;
    text-align: center;
     border: white 10px solid;
     width:100%;
    background-color: white;
    color: black;
}

.items:hover{
    background-color: gray;
    opacity: 0.5;
}

a {

    width: 20%;
    text-align: center;
    text-decoration: none;
}


h2 {
    text-align: center;
    text-decoration: bold;
}
#Baldmay {

    background-color: white;
    color: black;
    font-size: 150%;

}

#love {

    display: flex;
    justify-content: center;
    width:100%;


}

#cards { 

    display: flex;
    justify-content: center;

}

#pooo {
display: flex;
justify-content: center;
border: black solid 10px;
}